# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build directory
dist/

# Environment variables
.env
.env.local

# Editor directories & files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
